* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

html,
body,
#root {
  height: 100%;
}

body {
  max-width: 1000px;
  margin-inline: auto;
  line-height: 1.2;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(123, 132, 149, 1);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(123, 132, 149, 0.9);
}

.chat-message-bubble {
  background-color: var(--bs-primary);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  width: max-content;
  max-width: 95%;
  white-space: pre-line;
  color: var(--bs-emphasis-color);
}

.text-break-all {
  word-wrap: break-word;
  word-break: break-all;
}

.fs-small {
  font-size: 0.75rem;
}
